In [70]:
## Import dependencies 

import pandas as pd

In [71]:
## Read CSV file into Pandas DataFrame from URL 
## The target URL is the ASX company directory, this data will be scraped and stored in a PostgreSQL database 
## Creating a web-scraping programme will enable the database to be updated automatically when new companies are added to the index 

# Create URL object, assigning the target URL 

URL = "https://asx.api.markitdigital.com/asx-research/1.0/companies/directory/file?access_token=83ff96335c2d45a094df02a206a39ff4"

# Create data object to store results, use pd.read_csv to return DataFrame 

data = pd.read_csv(URL)

# Print results 

data

,ASX code,Company name,GICs industry group,Listing date,Market Cap
0,14D,1414 DEGREES LIMITED,Capital Goods,12/09/2018,11507186
1,1AD,ADALTA LIMITED,"Pharmaceuticals, Biotechnology & Life Sciences",22/08/2016,8433630
2,1AE,AURORA ENERGY METALS LIMITED,Materials,18/05/2022,12656725
3,1AG,ALTERRA LIMITED,"Food, Beverage & Tobacco",16/05/2008,7662078
4,1CG,ONE CLICK GROUP LIMITED,Capital Goods,28/04/2017,6859033
...,...,...,...,...,...
2055,ZLD,ZELIRA THERAPEUTICS LIMITED,"Pharmaceuticals, Biotechnology & Life Sciences",28/07/2003,18722806
2056,ZMI,ZINC OF IRELAND NL,Materials,18/09/2007,4476030
2057,ZMM,ZIMI LIMITED,Technology Hardware & Equipment,10/09/2007,4352035
2058,ZNC,ZENITH MINERALS LIMITED,Materials,29/05/2007,36999993
2059,ZNO,ZOONO GROUP LIMITED,Materials,21/07/1988,8546745

In [72]:
## Import dependencies 
# yahooquery library will be used to access quotes 

from yahooquery import Ticker

In [73]:
# Add the .AX suffix to the ASX code, this is required to exectue the yahooquery search

data['ASX code'] = data['ASX code'].astype(str) + '.AX'  

# Print results 

data

,ASX code,Company name,GICs industry group,Listing date,Market Cap
0,14D.AX,1414 DEGREES LIMITED,Capital Goods,12/09/2018,11507186
1,1AD.AX,ADALTA LIMITED,"Pharmaceuticals, Biotechnology & Life Sciences",22/08/2016,8433630
2,1AE.AX,AURORA ENERGY METALS LIMITED,Materials,18/05/2022,12656725
3,1AG.AX,ALTERRA LIMITED,"Food, Beverage & Tobacco",16/05/2008,7662078
4,1CG.AX,ONE CLICK GROUP LIMITED,Capital Goods,28/04/2017,6859033
...,...,...,...,...,...
2055,ZLD.AX,ZELIRA THERAPEUTICS LIMITED,"Pharmaceuticals, Biotechnology & Life Sciences",28/07/2003,18722806
2056,ZMI.AX,ZINC OF IRELAND NL,Materials,18/09/2007,4476030
2057,ZMM.AX,ZIMI LIMITED,Technology Hardware & Equipment,10/09/2007,4352035
2058,ZNC.AX,ZENITH MINERALS LIMITED,Materials,29/05/2007,36999993
2059,ZNO.AX,ZOONO GROUP LIMITED,Materials,21/07/1988,8546745

In [127]:
## Create Ticker object with each ticker in the ASX code column 

ticker = Ticker(data['ASX code'], asynchronous=True)

# Request price history for each ticker, over a period of 7 days (most recent 7 days of trading)

stockPrice = ticker.history(period="7d").reset_index()

# Print results 

stockPrice

       symbol        date   open   high    low  close    volume  adjclose
0      14D.AX  2023-06-07  0.057  0.057  0.057  0.057    6000.0     0.057
1      14D.AX  2023-06-08  0.059  0.060  0.059  0.059  379440.0     0.059
2      14D.AX  2023-06-09  0.059  0.059  0.058  0.058  180125.0     0.058
3      14D.AX  2023-06-13  0.058  0.059  0.056  0.059  191923.0     0.059
4      14D.AX  2023-06-14  0.058  0.058  0.056  0.056  114226.0     0.056
...       ...         ...    ...    ...    ...    ...       ...       ...
14005  ZNO.AX  2023-06-09  0.045  0.045  0.045  0.045   31097.0     0.045
14006  ZNO.AX  2023-06-13  0.045  0.047  0.043  0.047   40580.0     0.047
14007  ZNO.AX  2023-06-14  0.048  0.048  0.045  0.045   26030.0     0.045
14008  ZNO.AX  2023-06-15  0.045  0.046  0.045  0.045   20131.0     0.045
14009  ZNO.AX  2023-06-16  0.045  0.047  0.044  0.044   33418.0     0.044

[14010 rows x 8 columns]