In [131]:
## Import dependencies 

import pandas as pd

In [132]:
## Read CSV file into Pandas DataFrame from URL 
## The target URL is the ASX company directory, this data will be scraped and stored in a PostgreSQL database 
## Creating a web-scraping programme will enable the database to be updated automatically when new companies are added to the index 

# Create URL object, assigning the target URL 

URL = "https://asx.api.markitdigital.com/asx-research/1.0/companies/directory/file?access_token=83ff96335c2d45a094df02a206a39ff4"

# Create data object to store results, use pd.read_csv to return DataFrame 

data = pd.read_csv(URL)

# Print results 

data

,ASX code,Company name,GICs industry group,Listing date,Market Cap
0,14D,1414 DEGREES LIMITED,Capital Goods,12/09/2018,11507186
1,1AD,ADALTA LIMITED,"Pharmaceuticals, Biotechnology & Life Sciences",22/08/2016,8433630
2,1AE,AURORA ENERGY METALS LIMITED,Materials,18/05/2022,11943670
3,1AG,ALTERRA LIMITED,"Food, Beverage & Tobacco",16/05/2008,7662078
4,1CG,ONE CLICK GROUP LIMITED,Capital Goods,28/04/2017,6859033
...,...,...,...,...,...
2054,ZLD,ZELIRA THERAPEUTICS LIMITED,"Pharmaceuticals, Biotechnology & Life Sciences",28/07/2003,18155448
2055,ZMI,ZINC OF IRELAND NL,Materials,18/09/2007,4476030
2056,ZMM,ZIMI LIMITED,Technology Hardware & Equipment,10/09/2007,4455655
2057,ZNC,ZENITH MINERALS LIMITED,Materials,29/05/2007,35238088
2058,ZNO,ZOONO GROUP LIMITED,Materials,21/07/1988,8356818

In [133]:
## Import dependencies 
# yahooquery library will be used to access quotes 

from yahooquery import Ticker

In [134]:
# Add the .AX suffix to the ASX code, this is required to exectue the yahooquery search

data['ASX code'] = data['ASX code'].astype(str) + '.AX'  

# Print results 

data

,ASX code,Company name,GICs industry group,Listing date,Market Cap
0,14D.AX,1414 DEGREES LIMITED,Capital Goods,12/09/2018,11507186
1,1AD.AX,ADALTA LIMITED,"Pharmaceuticals, Biotechnology & Life Sciences",22/08/2016,8433630
2,1AE.AX,AURORA ENERGY METALS LIMITED,Materials,18/05/2022,11943670
3,1AG.AX,ALTERRA LIMITED,"Food, Beverage & Tobacco",16/05/2008,7662078
4,1CG.AX,ONE CLICK GROUP LIMITED,Capital Goods,28/04/2017,6859033
...,...,...,...,...,...
2054,ZLD.AX,ZELIRA THERAPEUTICS LIMITED,"Pharmaceuticals, Biotechnology & Life Sciences",28/07/2003,18155448
2055,ZMI.AX,ZINC OF IRELAND NL,Materials,18/09/2007,4476030
2056,ZMM.AX,ZIMI LIMITED,Technology Hardware & Equipment,10/09/2007,4455655
2057,ZNC.AX,ZENITH MINERALS LIMITED,Materials,29/05/2007,35238088
2058,ZNO.AX,ZOONO GROUP LIMITED,Materials,21/07/1988,8356818

In [160]:
## Create Ticker object with each ticker in the ASX code column 

ticker = Ticker(data['ASX code'], asynchronous=True)

# Request price history for each ticker, over a period of 1 year 

stockPrice = ticker.history(period="1y").reset_index()

# Print results 

stockPrice

,symbol,date,open,high,low,close,volume,adjclose,splits,dividends
0,14D.AX,2022-06-20,0.076,0.076,0.074,0.075,129392.0,0.075,0.0,0.0
1,14D.AX,2022-06-21,0.078,0.078,0.075,0.075,3364.0,0.075,0.0,0.0
2,14D.AX,2022-06-22,0.078,0.078,0.076,0.076,12069.0,0.076,0.0,0.0
3,14D.AX,2022-06-23,0.078,0.079,0.077,0.079,193256.0,0.079,0.0,0.0
4,14D.AX,2022-06-24,0.080,0.081,0.079,0.081,84272.0,0.081,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
503679,ZNO.AX,2023-06-13,0.045,0.047,0.043,0.047,40580.0,0.047,0.0,0.0
503680,ZNO.AX,2023-06-14,0.048,0.048,0.045,0.045,26030.0,0.045,0.0,0.0
503681,ZNO.AX,2023-06-15,0.045,0.046,0.045,0.045,20131.0,0.045,0.0,0.0
503682,ZNO.AX,2023-06-16,0.045,0.047,0.044,0.044,33418.0,0.044,0.0,0.0
503683,ZNO.AX,2023-06-20,0.044,0.044,0.044,0.044,8013.0,0.044,0.0,0.0

In [163]:
## Delete the DataFrame columns that are not required

stockPrice.drop(['splits', 'dividends'], axis=1, inplace=True)

In [164]:
## Calculate the percentage change, based on closing price of the market, by using the pct_change method

stockPrice['percentage change'] = stockPrice['close'].pct_change()*100

# Round the number to two decimal places 

stockPrice['percentage change'] = stockPrice['percentage change'].round(2)

# Print results 

stockPrice

,symbol,date,open,high,low,close,volume,adjclose,percentage change
0,14D.AX,2022-06-20,0.076,0.076,0.074,0.075,129392.0,0.075,NaN
1,14D.AX,2022-06-21,0.078,0.078,0.075,0.075,3364.0,0.075,0.00
2,14D.AX,2022-06-22,0.078,0.078,0.076,0.076,12069.0,0.076,1.33
3,14D.AX,2022-06-23,0.078,0.079,0.077,0.079,193256.0,0.079,3.95
4,14D.AX,2022-06-24,0.080,0.081,0.079,0.081,84272.0,0.081,2.53
...,...,...,...,...,...,...,...,...,...
503679,ZNO.AX,2023-06-13,0.045,0.047,0.043,0.047,40580.0,0.047,4.44
503680,ZNO.AX,2023-06-14,0.048,0.048,0.045,0.045,26030.0,0.045,-4.26
503681,ZNO.AX,2023-06-15,0.045,0.046,0.045,0.045,20131.0,0.045,0.00
503682,ZNO.AX,2023-06-16,0.045,0.047,0.044,0.044,33418.0,0.044,-2.22
503683,ZNO.AX,2023-06-20,0.044,0.044,0.044,0.044,8013.0,0.044,0.00

In [166]:
## Create connection to PostgreSQL database which is where the data will be stored 

## Import dependencies - pyscopg2 is a Python-PostgreSQL database adapter 

import psycopg2

# Establish connection to PostgreSQL database 

conn = psycopg2.connect(
    host="localhost",
    database="pythontestdb",
    user="postgres",
    password="AAA009wn73ed")

conn.autocommit = True

# The curosor class allows Python code to execute PostgreSQL commands in a database session

cursor = conn.cursor()

In [ ]:
# SQL command to CREATE TABLE, assigned to sqlQuery variable

sqlQuery = '''CREATE TABLE stock_data (
          ID INT PRIMARY KEY NOT NULL,
          SPEND FLOAT,
          AGE INT)'''

# Execute the database operation, the SQL command can be written within the brackets of the cursor.execute method or assigned to a variable 

cursor.execute(sqlQuery)